/* Стили статей в учебных модулях */

.ptd-article {
  p,
  ul,
  li,
  blockquote,
  div {
    font-size: 1.05rem;
  }

  p {
    line-height: 165%;
    text-align: justify;
  }

  ul,
  ol {
    padding-left: 30px;
  }

  li {
    margin-bottom: 10px;
    text-align: justify;
  }

  h2 {
    margin: 3.5rem 0 1.2rem;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .h2-first {
    margin: 0.5rem 0 1.2rem;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  figure {
    margin: 2rem 0 2rem;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }

    figcaption {
      font-size: 1.3em;
      font-style: italic;
      text-align: center;
    }
  }

  .formula {
    padding: 10px 0;
    text-align: center;
  }

  blockquote {
    margin: 1rem 0 1rem;
    font-style: italic;
  }

  .alert-light {
    background-color: #fafafa;
  }

  th,
  td {
    border: 1px solid #bbb !important;
    text-align: center !important;
  }

  /* ----------  P1 Что необходимо установить для выполнения полетов? ----------*/
  .table-with-links {
    th,
    td {
      vertical-align: middle !important;
    }

    .btn-outline-secondary.disabled {
      color: #6a737b;
      border-color: #6a737b;
    }

    /** Цвет строк таблицы с обязательными материалами (нечетные строки) */
    .table-striped tbody tr.tr-mandatory {
      background-color: #b7e1b7;
    }
  }
  /* ----------  P1 Что необходимо установить для выполнения полетов? ----------*/

  /* ----------  P1 Полетные карты и сборники для выполнения полетов по ПВП ----------*/
  .link-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    padding: 40px 0;
  }

  .link-card-link.link-card-link {
    text-decoration: none;
  }

  /* карточка со ссылкой на ресурс и превьюшкой */
  .link-card {
    min-width: 250px;
    max-width: 330px;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #dddddd;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    transition: all 0.2s ease;
  }

  .link-card:hover {
    transform: scale(102%);
  }

  .link-card__image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .link-card__description-container {
    padding: 20px 10px 10px;
  }

  .link-card__title {
    margin: 0 0 20px;
    font-size: 20px !important;
    color: #116cff;
    text-decoration: underline;
    text-align: center;
  }

  .link-card__description {
    margin: 0 0 10px;
    font-size: 0.625em;
    color: black;
    text-decoration: none;
  }
  /* ----------  P1 Полетные карты и сборники для выполнения полетов по ПВП ----------*/
}

/** Таблица с материалами по летной подготовке (находится в Р1) */
.table-with-links {
  th,
  td {
    vertical-align: middle !important;
  }
}

/** Цвет строк таблицы с обязательными материалами (нечетные строки) */
.table-striped tbody tr:nth-of-type(odd).tr-mandatory {
  background-color: #def1de;
}

/** Цвет строк таблицы с обязательными материалами (нечетные строки) */
.table-striped tbody tr:nth-of-type(even).tr-mandatory {
  background-color: #f3faf3;
}
