/* Стили статей в учебных модулях */

.ptd-article {
  p, ul, li, blockquote, div {
    font-size: 1.05rem;
  }

  p {
    line-height: 165%;
    text-align: justify;
  }

  ul, ol {
    padding-left: 30px;
  }

  li {
    margin-bottom: 10px;
    text-align: justify;
  }

  h2 {
    margin: 3.5rem 0 1.2rem;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .h2-first {
    margin: 0.5rem 0 1.2rem;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 15px;
  }

  figure {
    margin: 2rem 0 2rem;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }

    figcaption {
      font-size: 1.3em;
      font-style: italic;
      text-align: center;
    }
  }

  .formula {
    padding: 10px 0;
    text-align: center;
  }

  blockquote {
    margin: 1rem 0 1rem;
    font-style: italic;
  }
}
